include content/wizard.pug

//- Pop-ups
include content/privacy_policies.pug
include content/tncs.pug
include content/disclaimer.pug
include content/faq.pug

//- Flycricket
if flycricket
    include content/affliate/flycricket.pug