link(rel='stylesheet' href='/css/vendor/normalize.min.css')
link(rel='stylesheet' href='/css/vendor/bulma.min.css')
link(rel='preload' as='image' href='/images/side_image/side_image.png' fetchpriority='high')
link(rel='preload' as='script' href='/js/vendor/vue.global.prod.js')
link(rel='preload' as='script' href='/js/main.min.js')
link(rel='stylesheet' href='/css/style.min.css')
