link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css')
link(rel='preload' as='image' href='/images/side_image/side_image.png' fetchpriority='high')
link(rel='stylesheet' href='/css/style.min.css')
