link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
link(rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css')
link(rel='stylesheet' href='css/style.min.css')