style
  include vendor/normalize.min.css
link(rel='preload' as='image' href='images/app_graphics/side_image.webp' fetchpriority='high')
link(rel='stylesheet' href='css/style.min.css' media='print' onload="this.media='all'")
noscript
  link(rel='stylesheet' href='css/style.min.css')