link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css')
link(rel='stylesheet' href='css/style.css')