//- Footer

//- VueJS
script(src='https://cdn.jsdelivr.net/npm/vue@2.6.12')

//- to-markdown
script(src='https://cdnjs.cloudflare.com/ajax/libs/to-markdown/3.1.1/to-markdown.min.js' integrity='sha256-2PIa0cHy6lNEesnk4/qokv291Whx/uhAy2V6WL2zmfo=' crossorigin='anonymous')

//- Application specific
script(src='js/thirdpartyservices.js')
script(src='js/utils.js')
script(src='js/main.js')

//- Affliates

//- Flycricket
if (flycricket)
    script(src='js/flycricket.js')
