meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='description' content='A simple web app to generate a generic privacy policy for your Android/iOS apps')
meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
meta(name='copyright' content='Nishant Srivastava')
meta(name='author' content='Nishant Srivastava, nisrulz@gmail.com')

// Add to homescreen for Chrome on Android
meta(name='mobile-web-app-capable' content='yes')
link(rel='icon' sizes='192x192' href='images/android-desktop.png')

// Add to homescreen for Safari on iOS
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='black')
meta(name='apple-mobile-web-app-title' content='App Privacy Policy Generator')

// Tile icon for Win8 (144x144 + tile color)
meta(name='msapplication-TileColor' content='#3372DF')
link(rel='shortcut icon' href='images/favicon.ico')