meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='description' content='A simple web app to generate a generic privacy policy for your Android/iOS apps')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='copyright' content='Nishant Srivastava')
meta(name='author' content='Nishant Srivastava, nisrulz@gmail.com')
meta(name='mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-capable' content='yes')

//- Favicon
link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
link(rel='manifest', href='site.webmanifest')