//- Primary Meta Tags
title App Privacy Policy Generator
meta(name='description' content='A web app that is free, open-source, and perfect for generating a generic or GDPR-compliant privacy policy and terms of use for your mobile apps. 📄✨')
