//- Logo
meta(property='og:logo' content='android-chrome-512x512.png')

//- Facebook Meta Tags
meta(property='og:url' content='https://app-privacy-policy-generator.nisrulz.com/')
meta(property='og:type' content='website')
meta(property='og:title' content='App Privacy Policy Generator')
meta(property='og:description' content='A web app that is free, open-source, and perfect for generating a generic or GDPR-compliant privacy policy and terms of use for your mobile apps. 📄✨')
meta(property='og:image' content='https://app-privacy-policy-generator.nisrulz.com/images/link_preview.jpg')
meta(property='og:image:alt' content='App Privacy Policy Generator')
meta(property='og:image:type' content='image/jpeg')

//- Twitter Meta Tags
meta(name='twitter:card' content='summary_large_image')
meta(property='twitter:domain' content='app-privacy-policy-generator.nisrulz.com')
meta(property='twitter:url' content='https://app-privacy-policy-generator.nisrulz.com/')
meta(name='twitter:title' content='App Privacy Policy Generator')
meta(name='twitter:description' content='A web app that is free, open-source, and perfect for generating a generic or GDPR-compliant privacy policy and terms of use for your mobile apps. 📄✨')
meta(name='twitter:image' content='https://app-privacy-policy-generator.nisrulz.com/images/link_preview.jpg')
