//- Web App Manifest for PWAs
link(rel='manifest' href='site.webmanifest')

//- Theme color for mobile browsers
meta(name='theme-color' content='#fff')

//- For Safari on iOS
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='black')