//- Disclaimer Modal
.modal(v-bind:class="{ 'is-active': showDisclaimerModal }")
  .modal-background
  .modal-card
    header.modal-card-head
      p.modal-card-title Disclaimer
      button.delete(aria-label='close' @click='toggleDisclaimerModalVisibility')
    section.modal-card-body
      p
        | This template for privacy policy and terms &amp; conditions is
        | provided on &quot;AS IS&quot; basis, without warranties or conditions of
        | any kind, either expressed or implied. It is intended for you as
        | an inspirational document and you may use it when compiling your
        | own privacy policy. The developer of App Privacy Policy
        | Generator does not take any responsibility for the legal
        | consequences associated with the use of this privacy policy or
        | terms &amp; conditions, and urges you to seek independent legal
        | advice ensuring compliance with all rules applicable for the
        | users of your application. The developer of App Privacy Policy
        | Generator can in no way be found liable for any direct or
        | indirect damage/loss suffered by individual/company due to the
        | use of this document.
    footer.modal-card-foot
      button.button.is-info(aria-label='close' @click='toggleDisclaimerModalVisibility')
        | Ok