//- Disclaimer Modal
.modal(v-bind:class="{ 'is-active': showDisclaimerModal }")
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title Disclaimer
            button.delete(aria-label='close' @click='toggleDisclaimerModalVisibility')
        section.modal-card-body
            p This template for Privacy Policy and Terms & Conditions is furnished on an "AS IS" basis, devoid of any express or implied warranties or conditions.
            p It serves as a reference document for you while drafting your own privacy policy.
            p The developer of the App Privacy Policy Generator disclaims any liability for the legal implications arising from the utilization of this privacy policy or terms & conditions.
            p It is strongly recommended to obtain independent legal counsel to ensure compliance with all regulations applicable to the users of your application.
            p The developer of the App Privacy Policy Generator cannot be held accountable for any direct or indirect damage/loss incurred by an individual/company as a result of using this document.
        footer.modal-card-foot
            button.button.is-info(aria-label='close' @click='toggleDisclaimerModalVisibility')
                | Ok