.modal(v-bind:class="{ 'is-active': showFaqModal }")
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title Frequently Asked Questions/FAQ
            button.delete(aria-label='close' @click='toggleFaqModalVisibility')
        section.modal-card-body
            strong What is a privacy policy?
            p A privacy policy is a legal document that informs individuals about how an organization/individual collects, uses, discloses, and manages their personal data. It outlines the ways in which personal information is handled, including details about data collection, storage, and sharing practices. Essentially, it provides transparency to users regarding their privacy rights and how their data is treated.

            br
            strong What is personal data?
            p Personal data refers to any information related to an identified or identifiable living individual. It encompasses various identifiers, such as names, email addresses, phone numbers, home addresses, IP addresses, and more. Essentially, any data that can be used to identify a specific person falls under the category of personal data.

            br
            strong Why is a privacy policy important?
            p A privacy policy is a critical component of any Service Provider's online presence, as it outlines the handling and protection of sensitive customer information. It establishes trust between the service provider and its customers, demonstrating a commitment to protecting their personal data. A well-crafted privacy policy can help prevent legal liabilities and reputational damages, while also providing transparency and clarity on how customer information is collected, used, and shared. By having a comprehensive privacy policy in place, organizations can maintain a competitive advantage, build customer loyalty, and foster a positive brand image.

            br
            strong Is it safe to use a privacy policy template?
            p Yes, using a privacy policy template is generally safe and efficient. Templates are designed to align with data protection laws, ensuring compliance. However, it's essential to customize the template to accurately reflect your specific practices and business context. Always review and tailor the template to suit your needs.

            br
            strong What are terms and condition?
            p Terms and conditions are a critical component of contractual agreements, ensuring that all parties have a clear understanding of their rights and responsibilities. These terms are incorporated into a legally binding agreement, adhering to relevant local, state, and federal laws. They establish essential boundaries that all parties must adhere to, providing clarity on acceptable and prohibited platform usage, managing user expectations, and outlining procedures for account termination and suspension. Additionally, these terms specify the governing laws applicable to the contract, provide mechanisms for dispute resolution, and address necessary disclaimers or warranties as required by law. By incorporating these terms into a legal agreement, businesses and customers can ensure they are fully informed of their rights and obligations, promoting a mutually beneficial relationship.

            br
            strong Why is this Privacy Policy Generator free?
            p This project was built out of a need for a free and open source Privacy Policy Generator for my Android applications.
            | Most such products online are pay walled or find ways to extract money from indie devs 
            | like me. I built this for myself first, but eventually saw how it was useful for a lot of
            | people. Today this webapp is used by people from all over the world, and I hope it will continue to be so.
        footer.modal-card-foot
            button.button.is-info(aria-label='close' @click='toggleFaqModalVisibility')
                | Ok