.modal(v-bind:class="{ 'is-active': showFaqModal }")
    .modal-background
    .modal-card
        header.modal-card-head
            p.modal-card-title.no-select {{ translate('faq.title') }}
            button.delete(aria-label='close' @click='toggleFaqModalVisibility')
        section.modal-card-body
            strong {{ translate('faq.q1') }}
            p {{ translate('faq.a1') }}
            br
            strong {{ translate('faq.q2') }}
            p {{ translate('faq.a2') }}
            br
            strong {{ translate('faq.q3') }}
            p {{ translate('faq.a3') }}
            br
            strong {{ translate('faq.q4') }}
            p {{ translate('faq.a4') }}
            br
            strong {{ translate('faq.q5') }}
            p {{ translate('faq.a5') }}
            br
            strong {{ translate('faq.q6') }}
            p {{ translate('faq.a6') }}
        footer.modal-card-foot
            button.button.is-info(aria-label='close' @click='toggleFaqModalVisibility')
                | {{ translate('modal.btn.ok') }}