section.hero.is-primary
  .hero-body
    .columns
      .column
        .content
          a.title(href='https://github.com/nisrulz/app-privacy-policy-generator#app-privacy-policy-generator' target='_blank' rel='noopener noreferrer')
            h1
              | App 
              em Privacy Policy
              |  Generator
          h4.subtitle
            | Generate a generic Privacy Policy and Terms &amp; Conditions
            | for your apps
            p
              | Built with 
              img.heart-logo(src='images/app_icons/heart.svg' alt='heart')
              | &nbsp;by 
              a(href='http://www.nisrulz.com/' target='_blank' rel='noopener noreferrer') Nishant 
              a(href='https://github.com/nisrulz/app-privacy-policy-generator/graphs/contributors' target='_blank' rel='noopener noreferrer') and contributors. 
            p
              a(href='https://twitter.com/intent/tweet?text=%F0%9F%93%9D%20App%20Privacy%20Policy%20Generator%3A%20A%20free%20web-app%20to%20generate%20a%20generic%20privacy%20policy%20for%20your%20Android%2FiOS%2FKaiOS%20%F0%9F%93%B1%20apps%20%F0%9F%9A%80%20%7C%20Built%20by%20%40nisrulz%20%20%E2%9C%85%20Web%20App%3A%20https%3A%2F%2Fapp-privacy-policy-generator.nisrulz.com%20%E2%9C%85%20Checkout%20Reviews%3A%20https%3A%2F%2Fgithub.com%2Fnisrulz%2Fapp-privacy-policy-generator%2Fissues%2F65%20%F0%9F%91%A8%F0%9F%8F%BB%E2%80%8D%F0%9F%92%BB%20%23appg%20%23free%20%23app%20%23privacy%20%23policy%20%23generator%20%20' target='_blank' rel='noopener noreferrer')
                img.social-logo(src='images/social_icons/twitter.svg' alt='Twitter')
              a(@click='toggleDisclaimerModalVisibility' rel='noopener noreferrer')
                img.social-logo(src='images/app_icons/disclaimer.svg' alt='Disclaimer')
              a(href='https://github.com/nisrulz/app-privacy-policy-generator' target='_blank' rel='noopener noreferrer')
                img(alt='GitHub stars' src='https://img.shields.io/github/stars/nisrulz/app-privacy-policy-generator?style=social')
