section.hero.is-primary
  .hero-body
    .columns
      .column
        .content
          a.title(href='https://github.com/nisrulz/app-privacy-policy-generator#app-privacy-policy-generator' target='_blank' rel='noopener noreferrer')
            h1
              | App 
              em Privacy Policy
              |  Generator
          h4.subtitle
            | Generate a generic Privacy Policy and Terms &amp; Conditions
            | for your apps
            p
              | Built with 
              img.heart-logo(src='images/app_icons/heart.svg' alt='heart')
              | &nbsp;by 
              a(href='http://www.nisrulz.com/' target='_blank' rel='noopener noreferrer') Nishant 
              a(href='https://github.com/nisrulz/app-privacy-policy-generator/graphs/contributors' target='_blank' rel='noopener noreferrer') and contributors. 
            p
              a(href='https://twitter.com/intent/tweet?text=App%20Privacy%20Policy%20Generator%3A%20A%20simple%20web%20app%20to%20generate%20a%20generic%20privacy%20policy%20for%20your%20Android%2FiOS%20apps%F0%9F%98%8E&url=https://github.com/nisrulz/app-privacy-policy-generator&via=nisrulz&hashtags=Privacy' target='_blank' rel='noopener noreferrer')
                img.social-logo(src='images/social_icons/twitter.svg' alt='Twitter')
              a(@click='toggleDisclaimerModalVisibility' rel='noopener noreferrer')
                img.social-logo(src='images/app_icons/disclaimer.svg' alt='Disclaimer')
              a(href='https://github.com/nisrulz/app-privacy-policy-generator' target='_blank' rel='noopener noreferrer')
                img(alt='GitHub stars' src='https://img.shields.io/github/stars/nisrulz/app-privacy-policy-generator?style=social')
