section#step-1.section(v-if='wizardStep==1')
    include wizard/step1.pug

section#step-2.section(v-if='wizardStep==2')
    include wizard/step2.pug

section#step-3.section(v-if='wizardStep==3')
    include wizard/step3.pug
