{{ define "privacyNoTrackingBody" }}
<section class="modal-card-body modal-box">
	<div id="privacy_notrack_content" v-show="contentRenderType==1"><strong>[[ translate('noTracking.title') ]]</strong>
		<p v-html="translate('noTracking.intro')"></p>
		<br><strong>[[ translate('noTracking.infoTitle') ]]</strong>
		<p>[[ translate('noTracking.infoText') ]]</p>
		<br><strong>[[ translate('noTracking.locationTitle') ]]</strong>
		<p v-html="translate('noTracking.locationText')"></p>
		<br><strong>[[ translate('noTracking.thirdPartyTitle') ]]</strong>
		<p>[[ translate('noTracking.thirdPartyText') ]]</p>
		<br><strong>[[ translate('noTracking.optOutTitle') ]]</strong>
		<div v-if="isMobileApp || isWindowsApp">
			<p>[[ translate('noTracking.optOutUninstall') ]]</p>
		</div>
		<div v-if="isWebApp">
			<p>[[ translate('noTracking.optOutCease') ]]</p>
		</div>
		<p v-html="translate('noTracking.optOutContact')"></p>
		<br><strong>[[ translate('noTracking.childrenTitle') ]]</strong>
		<p v-html="translate('noTracking.childrenText')"></p>
		<br><strong>[[ translate('noTracking.securityTitle') ]]</strong>
		<p>[[ translate('noTracking.securityText') ]]</p>
		<br><strong>[[ translate('noTracking.breachTitle') ]]</strong>
		<p>[[ translate('noTracking.breachText') ]]</p>
		<br>
		<div v-if="hasDataDeletion"><strong>[[ translate('noTracking.dataDeletionTitle') ]]</strong>
			<p v-html="translate('noTracking.dataDeletionText')"></p>
			<br>
		</div><strong>[[ translate('noTracking.changesTitle') ]]</strong>
		<p>[[ translate('noTracking.changesText') ]]</p>
		<br>
		<p v-html="translate('noTracking.changesPrev')"></p>
		<br>
		<p v-html="translate('noTracking.effectiveDate')"></p>
		<br><strong>[[ translate('noTracking.consentTitle') ]]</strong>
		<p>[[ translate('noTracking.consentText') ]]</p>
		<br><strong>[[ translate('noTracking.contactTitle') ]]</strong>
		<p v-html="translate('noTracking.contactText')"></p>
		{{ template "attribution" dict "type" "privacy policy" }}
	</div>
	<textarea class="textarea" id="privacy_notrack_txtarea"
		:aria-label="translate(&quot;noTracking.title&quot;) + translate(&quot;modal.textareaLabel&quot;)"
		onclick="this.focus();this.select()" readonly="readonly" v-show="contentRenderType==2"></textarea>
</section>
<footer class="modal-card-foot">
	{{ template "outputButtons" dict "contentId" "privacy_notrack_content" "textareaId" "privacy_notrack_txtarea" }}{{ template "flycricketDeploy" dict "method" "fc_deploy('privacy_notrack_content')" "enabled" $.Flycricket }}</footer>
{{ end }}

{{ define "privacyNoTrackingModal" }}
<div class="modal" v-bind:class="{'is-active': showNoTrackingPrivacyPolicyModal}" v-show="typeOfPolicyInt==2">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title no-select">[[ translate('modal.privacyNoTracking.title') ]]</p><button
				class="delete" aria-label="close" @click="toggleNoTrackingPrivacyPolicyModalVisibility"></button>
		</header>
		{{ template "privacyNoTrackingBody" . }}
	</div>
</div>
{{ end }}