{{ define "wizardStep2" }}
<section class="columns" id="step-2" v-if="wizardStep==2">
	<div class="column card">
		<div class="card-content">
			{{ template "wizardMobileLogo" . }}{{ template "wizardProgress" dict "value" 16 }}<div
				class="scrollable content">
				<div class="control">[[ translate('wizard.step2.type') ]]<label class="radio">
						<input v-model="typeOfPolicyInt" value="1" type="radio"> [[ translate('wizard.step2.simple') ]]
					</label>
					{{ if $.NoTracking }}<label class="radio">
							<input v-model="typeOfPolicyInt" value="2" type="radio"> [[ translate('wizard.step2.noTracking')
							]]
						</label>
					{{ end }}
					{{ if $.Gdpr }}<label class="radio">
							<input v-model="typeOfPolicyInt" value="3" type="radio"> [[ translate('wizard.step2.gdpr') ]]
						</label>
					{{ end }}
				</div>
				<br>
				<div class="control">
					<div class="field"><label class="label" for="appName">[[ translate('wizard.step2.appName')
							]]
						</label>
						<div class="control">
							<input class="input" id="appName" v-bind:class="{ 'is-danger': (appName.length == 0) }"
								:placeholder="translate('wizard.step2.appNamePlaceholder')" v-model="appName"
								required="" type="text">
						</div>
						<p class="help has-text-grey" v-show="!(appName.length == 0)">[[
							translate('wizard.step2.appNameHelp') ]]
						</p>
						<p class="help" v-bind:class="{ 'is-danger': (appName.length == 0) }"
							v-show="(appName.length == 0)">[[ translate('wizard.step2.appNameRequired') ]]</p>
					</div>
				</div>
				<br>
				<div class="control">
					<div class="field"><label class="label" for="appContact">[[ translate('wizard.step2.contactInfo')
							]]
						</label>
						<div class="control">
							<input class="input" id="appContact"
								v-bind:class="{ 'is-danger': (appContact.length == 0) }"
								:placeholder="translate('wizard.step2.contactPlaceholder')" v-model="appContact"
								required="" type="email">
						</div>
						<p class="help has-text-grey" v-show="!(appContact.length == 0)">[[
							translate('wizard.step2.contactHelp') ]]
						</p>
						<p class="help" v-bind:class="{ 'is-danger': (appContact.length == 0) }"
							v-show="(appContact.length == 0)">[[ translate('wizard.step2.contactRequired') ]]</p>
					</div>
				</div>
				<br>
				<div class="control" v-show="typeOfPolicyInt==3">
					<div class="field"><label class="label" for="euRepresentative">[[
							translate('wizard.step2.euRepresentative') ]]
						</label>
						<div class="control">
							<input class="input" id="euRepresentative"
								:placeholder="translate('wizard.step2.euRepresentativePlaceholder')"
								v-model="euRepresentative" type="text">
						</div>
						<p class="help has-text-grey">[[ translate('wizard.step2.euRepresentativeHelp') ]]</p>
					</div>
				</div>
			</div>
		</div>
		<footer class="card-footer"><a class="card-footer-item" @click="prevStep">[[ translate('wizard.step2.previous')
				]]
			</a><a class="card-footer-item" @click="nextStep" :class="{ 'is-disabled': !canAdvance }">[[
				translate('wizard.step2.next') ]]
			</a>
		</footer>
	</div>
	{{ template "wizardSidebar" . }}
</section>
{{ end }}