body,
html {
  background: white;
}

li {
  margin: 10px;
}

.hero.is-primary {
  background-color: transparent;
}

.hero-body .content {
  text-align: center;
}

.hero-body .content > .title {
  color: black;
}

.hero-body .content > .subtitle {
  color: black;
}

#app > :nth-child(2) {
  padding-top: 0;
}

.help.form-label {
  font-size: 1em;
  font-weight: 600;
  color: #565656;
}

.center-block {
  margin: 0 auto;
  display: block;
}

.box span.icon {
  float: right;
  font-size: 1.7em;
  padding: 2rem 2rem 0 0;
}

.is-large.fab {
  font-size: 7em;
}

.is-large.fas {
  font-size: 5em;
  margin-left: 0.2em;
}

.menu-list li a:hover {
  background: #d9d9d9;
}

.token.number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

.scrollable {
  height: 65vh;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
}

.heart-logo {
  height: 1em;
}

.button-logo {
  height: 1em;
  margin-right: 5px;
}

.thirdparty-logo {
  height: 1.5em;
  padding-right: 8px;
  vertical-align: middle;
}

#step-1,
#step-2,
#step-3 {
  padding-bottom: 0.3em;
  padding-top: 0.4em;
}

.column.box {
  padding: 1em;
}

#page-404 > div {
  display: table-cell;
  vertical-align: middle;
  margin: 2em auto;
}

#page-404 {
  color: #888;
  display: table;
  font-family: sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
}

#page-404 h1 {
  color: white;
  font-size: 4em;
  font-weight: 600;
  text-align: center;
}

#page-404 p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  color: white;

  font-size: 2em;
  font-weight: 200;
}

.modal-card-body ul {
  list-style-type: disc;
}

.modal-card-body li {
  margin-left: 2.5em;
}

.modal-card-body textarea {
  height: 66%;
  width: 100%;
}

.center-parent {
  width: 100%;
  text-align: center;
}

.center-parent > .child {
  display: inline-block;
  margin: 2px;
}

.column.is-information .nav-btn {
  cursor: grab;
  height: 3em;
  opacity: 0.8;
}

.column.is-information .sidebar-img {
  pointer-events: none;
  height: 21em;
  padding: 2em;
}

.subtitle p {
  font-size: 0.7em;
}

.modal-card-body.modal-box {
  display: flex;
  flex-direction: column;
  height: 450px;
}

.modal-card-body.modal-box textarea {
  height: 100%;
}

.no-select {
  user-select: none;
}

/*Checkboxes styles*/
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  font: 14px/20px "Open Sans", Arial, sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.6;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
