.modal(v-bind:class="{ 'is-active': showGDPRPrivacyModal }")
  .modal-background
  .modal-card
    header.modal-card-head
      p.modal-card-title.no-select GDPR Compliant Privacy Policy
      button.delete(aria-label='close' @click='toggleGDPRPrivacyModalVisibility')
    section.modal-card-body.modal-box
      #gdpr_privacy_content(v-show='contentRenderType==1')
        strong GDPR Compliant Privacy Policy
        p
          | Our Company is part of the Our Company Group which includes Our Company International and Our Company
          | Direct. This privacy policy will explain how our organization uses the personal data we collect from you
          | when you use our website.
        p  Topics:
        ul
          li What data do we collect?
          li How do we collect your data?
          li How will we use your data?
          li How do we store your data?
          li Marketing
          li What are your data protection rights?
          li What are cookies?
          li How do we use cookies?
          li What types of cookies do we use?
          li How to manage your cookies
          li Privacy policies of other websites
          li Changes to our privacy policy
          li How to contact us
          li How to contact the appropriate authorities
        p
          | What data do we collect? Our Company collects the following data: 0 Personal identification
          | information (Name, email address, phone number, etc.) 0 [Add any other data your company collects]
        p
          | How do we collect your data? You directly provide Our Company with most of the data we collect. We
          | collect data and process data when you: 0 Register online or place an order for any of our products or
          | services. 0 Voluntarily complete a customer survey or provide feedback on any of our message boards or
          | via email. Use or view our website via your browser&rsquo;s cookies. [Add any other ways your company
          | collects data]
        p
          | Our Company may also receive your data indirectly from the following sources: 0 [Add any indirect
          | source of data your company has]
        p
          | How will we use your data? Our Company collects your data so that we can: 0 Process your order, manage
          | your account. 0 Email you with special offers on other products and services we think you might like. 0
          | [Add how else your company uses data]
        p
          | If you agree, Our Company will share your data with our partner companies so that they may offer you
          | their products and services. 0 [List organizations that will receive data]
        p
          | When Our Company processes your order, it may send your data to, and also use the resulting information
          | from, credit reference agencies to prevent fraudulent purchases.
        p
          | How do we store your data? Our Company securely stores your data at [enter the location and describe
          | security precautions taken].
        p
          | Our Company will keep your [enter type of data] for [enter time period]. Once this time period has
          | expired, we will delete your data by [enter how you delete users&rsquo; data].
        p
          | Marketing Our Company would like to send you information about products and services of ours that we
          | think you might like, as well as those of our partner companies. 0 [List partner companies here]
        p
          | If you have agreed to receive marketing, you may always opt out at a later date.
        p
          | You have the right at any time to stop Our Company from contacting you for marketing purposes or
          | giving your data to other members of the Our Company Group.
        p If you no longer wish to be contacted for marketing purposes, please click here.
        p
          | What are your data protection rights? Our Company would like to make sure you are fully aware of all
          | of your data protection rights. Every user is entitled to the following:
        p
          | The right to access - You have the right to request Our Company for copies of your personal data. We
          | may charge you a small fee for this service.
        p
          | The right to rectification - You have the right to request that Our Company correct any information
          | you believe is inaccurate. You also have the right to request Our Company to complete information you
          | believe is incomplete. The right to erasure &mdash; You have the right to request that Our Company erase
          | your personal data, under certain conditions.
        p
          | The right to restrict processing - You have the right to request that Our Company restrict the
          | processing of your personal data, under certain conditions.
        p
          | The right to object to processing - You have the right to object to Our Company&rsquo;s processing of
          | your personal data, under certain conditions.
        p
          | The right to data portability - You have the right to request that Our Company transfer the data that
          | we have collected to another organization, or directly to you, under certain conditions.
        p
          | If you make a request, we have one month to respond to you. If you would like to exercise any of these
          | rights, please contact us at our email: Call us at: Or write to us:
        p
          | What are cookies? Cookies are text files placed on your computer to collect standard Internet log
          | information and visitor behavior information. When you visit our websites, we may collect information
          | from you automatically through cookies or similar technology.
        p For further information, visit allaboutcookies.org.
        p
          | How do we use cookies? Our Company uses cookies in a range of ways to improve your experience on our
          | website, including: 0 Keeping you signed in 0 Understanding how you use our website 0 [Add any uses your
          | company has for cookies]
        p
          | What types of cookies do we use? There are a number of different types of cookies, however, our
          | website uses: 0 Functionality &mdash; Our Company uses these cookies so that we recognize you on our
          | website and remember your previously selected preferences. These could include what language you prefer
          | and location you are in. A mix of first-party and third-party cookies are used. 0 Advertising &mdash;
          | Our Company uses these cookies to collect information about your visit to our website, the content you
          | viewed, the links you followed and information about your browser, device, and your IP address. Our
          | Company sometimes shares some limited aspects of this data with third parties for advertising purposes.
          | We may also share online data collected through cookies with our advertising partners. This means that
          | when you visit another website, you may be shown advertising based on your browsing patterns on our
          | website. 0 [Add any other types of cookies your company uses]
        p
          | How to manage cookies You can set your browser not to accept cookies, and the above website tells you
          | how to remove cookies from your browser. However, in a few cases, some of our website features may not
          | function as a result.
        p
          | Privacy policies of other websites The Our Company website contains links to other websites. Our
          | privacy policy applies only to our website, so if you click on a link to another website, you should
          | read their privacy policy.
        p
          | Changes to our privacy policy Our Company keeps its privacy policy under regular review and places any
          | updates on this web page. This privacy policy was last updated on 9 January 2019.
        p
          | How to contact us If you have any questions about Our Company&rsquo;s privacy policy, the data we hold
          | on you, or you would like to exercise one of your data protection rights, please do not hesitate to
          | contact us.
        p  Email us at: Call us: Or write to us at:
        p
          | How to contact the appropriate authority Should you wish to report a complaint or if you feel that Our
          | Company has not addressed your concern in a satisfactory manner, you may contact the Information
          | Commissioner&rsquo;s Office.
        p Email: Address
        p
          strong Changes to This Privacy Policy
        p
          | {{iOrWe | capitalize }} may update our Privacy Policy from
          | time to time. Thus, you are advised to review this page
          | periodically for any changes. {{iOrWe | capitalize }} will
          | notify you of any changes by posting the new Privacy Policy on
          | this page.
        p This policy is effective as of {{ effectiveFromDate }}
        p
          strong Contact Us
        p
          | If you have any questions or suggestions about {{myOrOur }}
          | Privacy Policy, do not hesitate to contact {{meOrUs}} at {{
          | appContact }}.
        p
          | This privacy policy page was generated by 
          a(href='https://app-privacy-policy-generator.nisrulz.com/' target='_blank' rel='noopener noreferrer') App Privacy Policy Generator
      textarea#gdpr_privacy_txtarea.textarea(onclick='this.focus();this.select()' readonly='readonly' v-show='contentRenderType==2')
    footer.modal-card-foot
      button.button.is-success(@click="getHtml('gdpr_privacy_content','gdpr_privacy_txtarea')")
        | HTML
      button.button.is-success(@click="getMarkdown('gdpr_privacy_content', 'gdpr_privacy_txtarea')")
        | Markdown
      button.button.is-success(v-if='contentRenderType!=1' @click='preview()')
        | Preview
