+modal('showGDPRPrivacyModal', 'modal.privacyGDPR.title', 'toggleGDPRPrivacyModalVisibility', 'typeOfPolicyInt==3')
        section.modal-card-body.modal-box
            #privacy_gdpr_content(v-show='contentRenderType==1')
                strong {{ translate('gdpr.title') }}

                p(v-html="translate('gdpr.intro')")

                br
                strong {{ translate('gdpr.controllerTitle') }}

                p {{ translate('gdpr.controllerText') }}
                ul
                    li(v-html="translate('gdpr.controllerName')")
                    li(v-if='businessAddress') {{ translate('gdpr.controllerAddress') }}
                    li(v-html="translate('gdpr.controllerEmail')")

                p {{ translate('gdpr.controllerInquiry') }}

                p(v-if='euRepresentative') {{ translate('gdpr.euRepresentative') }}

                br
                strong {{ translate('gdpr.infoTitle') }}

                p {{ translate('gdpr.infoText1') }}

                p {{ translate('gdpr.infoText2') }}

                br
                strong {{ translate('gdpr.legalBasisTitle') }}

                p {{ translate('gdpr.legalBasisIntro') }}
                ul
                    li {{ translate('gdpr.legalBasis.contract') }}
                    li {{ translate('gdpr.legalBasis.consent') }}
                    li {{ translate('gdpr.legalBasis.legitimate') }}
                    li {{ translate('gdpr.legalBasis.obligation') }}

                br
                strong {{ translate('gdpr.cookiesTitle') }}

                p {{ translate('gdpr.cookiesText') }}

                br
                strong {{ translate('gdpr.automatedTitle') }}

                p {{ translate('gdpr.automatedText') }}

                br
                strong {{ translate('gdpr.autoCollectTitle') }}

                p(v-html="translate('gdpr.autoCollectText')")

                br
                strong {{ translate('gdpr.locationTitle') }}

                p(v-if='!isLocationTracked', v-html="translate('gdpr.locationNo')")
                div(v-if='isLocationTracked')
                    p {{ translate('gdpr.locationYes') }}
                    ul
                        li {{ translate('gdpr.locationGeo') }}
                        li {{ translate('gdpr.locationAnalytics') }}
                        li {{ translate('gdpr.locationThirdParty') }}

                br
                strong {{ translate('gdpr.aiTitle') }}
                p(v-if='!isAIUsed') {{ translate('gdpr.aiNo') }}
                div(v-if='isAIUsed')
                    p {{ translate('gdpr.aiYes') }}
                    ul
                        li {{ translate('gdpr.aiPersonalized') }}
                        li {{ translate('gdpr.aiRecommendations') }}
                        li {{ translate('gdpr.aiAutomated') }}
                        li {{ translate('gdpr.aiProtection') }}
                br
                strong {{ translate('gdpr.thirdPartyTitle') }}

                p {{ translate('gdpr.thirdPartyText') }}

                br
                strong {{ translate('gdpr.dataTransfersTitle') }}

                p {{ translate('gdpr.dataTransfersText') }}
                ul
                    li {{ translate('gdpr.dataTransfers.adequacy') }}
                    li {{ translate('gdpr.dataTransfers.scc') }}
                    li {{ translate('gdpr.dataTransfers.safeguards') }}

                p {{ translate('gdpr.dataTransfersNote') }}

                div(v-if='hasThirdPartyServicesSelected')
                    br
                    p {{ translate('gdpr.thirdPartyServicesText') }}
                    ul
                        li(v-for="item in enabledThirdPartyServicesWithPrivacy" :key="item.name")
                            a(:href='item.link.privacy' target='_blank' rel='noopener noreferrer') {{ tpsName(item) }}
                p {{ translate('gdpr.disclosureText') }}
                    ul
                        li {{ translate('gdpr.disclosure.law') }}
                        li {{ translate('gdpr.disclosure.safety') }}
                        li {{ translate('gdpr.disclosure.providers') }}

                p {{ translate('gdpr.dpaText') }}

                br
                strong {{ translate('gdpr.optOutTitle') }}

                div(v-if='isMobileApp || isWindowsApp')
                    p(v-html="translate('gdpr.optOutUninstall')")
                div(v-if='isWebApp')
                    p(v-html="translate('gdpr.optOutCease')")
                p(v-html="translate('gdpr.optOutContact')")

                br
                strong {{ translate('gdpr.retentionTitle') }}

                p {{ translate('gdpr.retentionIntro') }}
                ul
                    li {{ translate('gdpr.retention.userData') }}
                    li {{ translate('gdpr.retention.autoData') }}
                    li {{ translate('gdpr.retention.aggregated') }}
                    li {{ translate('gdpr.retention.legal') }}

                p(v-html="translate('gdpr.retentionDeletion')")

                div(v-if='hasDataDeletion')
                    br
                    strong {{ translate('gdpr.dataDeletionTitle') }}
                    p(v-html="translate('gdpr.dataDeletionText')")
                    p {{ translate('gdpr.dataDeletionVerify') }}

                br
                strong {{ translate('gdpr.childrenTitle') }}

                p(v-html="translate('gdpr.childrenIntro')")
                div(v-if='hasThirdPartyServicesSelected')
                    br
                    p(v-html="translate('gdpr.childrenWithServices')")
                div(v-else)
                    br
                    p(v-html="translate('gdpr.childrenWithoutServices')")

                br
                strong {{ translate('gdpr.securityTitle') }}

                p {{ translate('gdpr.securityText') }}

                br
                strong {{ translate('gdpr.breachTitle') }}
                p {{ translate('gdpr.breachText') }}
                br
                strong {{ translate('gdpr.changesTitle') }}

                p {{ translate('gdpr.changesText') }}
                br
                p(v-html="translate('gdpr.changesPrev')")
                br
                p(v-html="translate('gdpr.effectiveDate')")

                br
                strong {{ translate('gdpr.gdprRightsTitle') }}

                p {{ translate('gdpr.gdprRightsIntro') }}
                ul
                    li {{ translate('gdpr.gdprRights.access') }}
                    li {{ translate('gdpr.gdprRights.rectification') }}
                    li {{ translate('gdpr.gdprRights.erasure') }}
                    li {{ translate('gdpr.gdprRights.restrict') }}
                    li {{ translate('gdpr.gdprRights.portability') }}
                    li {{ translate('gdpr.gdprRights.object') }}
                    li {{ translate('gdpr.gdprRights.withdraw') }}
                    li {{ translate('gdpr.gdprRights.automated') }}

                p {{ translate('gdpr.gdprRightsComplaint') }}
                    a(href='https://edpb.ec.europa.eu/about-edpb/members_en' target='_blank' rel='noopener noreferrer') https://edpb.ec.europa.eu/about-edpb/members_en
                p {{ translate('gdpr.gdprRightsICO') }}
                    a(href='https://ico.org.uk' target='_blank' rel='noopener noreferrer') https://ico.org.uk

                br
                strong {{ translate('gdpr.ccpaTitle') }}

                p {{ translate('gdpr.ccpaIntro') }}
                ul
                    li {{ translate('gdpr.ccpa.know') }}
                    li {{ translate('gdpr.ccpa.delete') }}
                    li {{ translate('gdpr.ccpa.correct') }}
                    li {{ translate('gdpr.ccpa.optOut') }}
                    li {{ translate('gdpr.ccpa.limit') }}
                    li {{ translate('gdpr.ccpa.nonDiscrimination') }}

                p(v-html="translate('gdpr.ccpaExercise')")

                br  
                strong {{ translate('gdpr.consentTitle') }}

                p {{ translate('gdpr.consentText') }}

                br
                strong {{ translate('gdpr.contactTitle') }}

                p(v-html="translate('gdpr.contactText')")

                p(v-html="translate('gdpr.contactDeletion')")
                +attribution('privacy policy')
            textarea#privacy_gdpr_txtarea.textarea(:aria-label='translate("gdpr.title") + translate("modal.textareaLabel")' onclick='this.focus();this.select()' readonly='readonly' v-show='contentRenderType==2')
        footer.modal-card-foot
            +outputButtons('privacy_gdpr_content', 'privacy_gdpr_txtarea')
            +flycricketDeploy('fc_deploy_gdpr()')
