+modal('showNoTrackingPrivacyPolicyModal', 'modal.privacyNoTracking.title', 'toggleNoTrackingPrivacyPolicyModalVisibility', 'typeOfPolicyInt==2')
        section.modal-card-body.modal-box
            #privacy_notrack_content(v-show='contentRenderType==1')
                strong {{ translate('noTracking.title') }}

                p(v-html="translate('noTracking.intro')")

                br 
                strong {{ translate('noTracking.infoTitle') }}

                p {{ translate('noTracking.infoText') }}

                br 
                strong {{ translate('noTracking.locationTitle') }}

                p(v-html="translate('noTracking.locationText')")

                br 
                strong {{ translate('noTracking.thirdPartyTitle') }}

                p {{ translate('noTracking.thirdPartyText') }}

                br 
                strong {{ translate('noTracking.optOutTitle') }}

                div(v-if='isMobileApp || isWindowsApp')
                    p {{ translate('noTracking.optOutUninstall') }}
                div(v-if='isWebApp')
                    p {{ translate('noTracking.optOutCease') }}
                p(v-html="translate('noTracking.optOutContact')")

                br 
                strong {{ translate('noTracking.childrenTitle') }}

                p(v-html="translate('noTracking.childrenText')")

                br 
                strong {{ translate('noTracking.securityTitle') }}

                p {{ translate('noTracking.securityText') }}
                br 
                strong {{ translate('noTracking.breachTitle') }}
                p {{ translate('noTracking.breachText') }}
                br

                div(v-if='hasDataDeletion')
                    strong {{ translate('noTracking.dataDeletionTitle') }}
                    p(v-html="translate('noTracking.dataDeletionText')")
                    br

                strong {{ translate('noTracking.changesTitle') }}

                p {{ translate('noTracking.changesText') }}
                br
                p(v-html="translate('noTracking.changesPrev')")
                br
                p(v-html="translate('noTracking.effectiveDate')")

                br
                strong {{ translate('noTracking.consentTitle') }}

                p {{ translate('noTracking.consentText') }}

                br 
                strong {{ translate('noTracking.contactTitle') }}

                p(v-html="translate('noTracking.contactText')")

                +attribution('privacy policy')
            textarea#privacy_notrack_txtarea.textarea(:aria-label='translate("noTracking.title") + translate("modal.textareaLabel")' onclick='this.focus();this.select()' readonly='readonly' v-show='contentRenderType==2')
        footer.modal-card-foot
            +outputButtons('privacy_notrack_content', 'privacy_notrack_txtarea')
            +flycricketDeploy('fc_deploy_notracking()')
