+modal('showNoTrackingPrivacyPolicyModal', 'modal.privacyNoTracking.title', 'toggleNoTrackingPrivacyPolicyModalVisibility', 'typeOfPolicyInt==2')
        section.modal-card-body.modal-box
            #privacy_notrack_content(v-show='contentRenderType==1')
                strong {{ $t('noTracking.title') }}

                p(v-html="$t('noTracking.intro')")

                br 
                strong {{ $t('noTracking.infoTitle') }}

                p {{ $t('noTracking.infoText') }}

                br 
                strong {{ $t('noTracking.locationTitle') }}

                p(v-html="$t('noTracking.locationText')")

                br 
                strong {{ $t('noTracking.thirdPartyTitle') }}

                p {{ $t('noTracking.thirdPartyText') }}

                br 
                strong {{ $t('noTracking.optOutTitle') }}

                div(v-if='isMobileApp || isWindowsApp')
                    p {{ $t('noTracking.optOutUninstall') }}
                div(v-if='isWebApp')
                    p {{ $t('noTracking.optOutCease') }}
                p(v-html="$t('noTracking.optOutContact')")

                br 
                strong {{ $t('noTracking.childrenTitle') }}

                p(v-html="$t('noTracking.childrenText')")

                br 
                strong {{ $t('noTracking.securityTitle') }}

                p {{ $t('noTracking.securityText') }}
                br 
                strong {{ $t('noTracking.breachTitle') }}
                p {{ $t('noTracking.breachText') }}
                br

                div(v-if='hasDataDeletion')
                    strong {{ $t('noTracking.dataDeletionTitle') }}
                    p(v-html="$t('noTracking.dataDeletionText')")
                    br

                strong {{ $t('noTracking.changesTitle') }}

                p {{ $t('noTracking.changesText') }}
                br
                p(v-html="$t('noTracking.changesPrev')")
                br
                p(v-html="$t('noTracking.effectiveDate')")

                br
                strong {{ $t('noTracking.consentTitle') }}

                p {{ $t('noTracking.consentText') }}

                br 
                strong {{ $t('noTracking.contactTitle') }}

                p(v-html="$t('noTracking.contactText')")

                +attribution('privacy policy')
            textarea#privacy_notrack_txtarea.textarea(:aria-label='$t("noTracking.title") + $t("modal.textareaLabel")' onclick='this.focus();this.select()' readonly='readonly' v-show='contentRenderType==2')
        footer.modal-card-foot
            +outputButtons('privacy_notrack_content', 'privacy_notrack_txtarea')
            +flycricketDeploy('fc_deploy_notracking()')
