+modal('showPrivacyModal', 'modal.privacySimple.title', 'togglePrivacyModalVisibility', 'typeOfPolicyInt==1')
        section.modal-card-body.modal-box
            #privacy_simple_content(v-show='contentRenderType==1')
                strong {{ $t('simple.title') }}

                p(v-html="$t('simple.intro')")

                br
                strong {{ $t('simple.infoCollectionTitle') }}

                p {{ $t('simple.infoCollectionIntro') }}
                    ul 
                        li {{ $t('simple.infoCollection.ip') }}
                        li {{ $t('simple.infoCollection.pages') }}
                        li {{ $t('simple.infoCollection.time') }}
                        li(v-html="$t('simple.infoCollection.os')")

                br
                strong {{ $t('simple.cookiesTitle') }}

                p {{ $t('simple.cookiesText') }}

                div(v-if='isLocationTracked')
                    br
                    strong {{ $t('simple.locationTitle') }}
                    p {{ $t('simple.locationIntro') }}
                    ul
                        li {{ $t('simple.locationGeo') }}
                        li {{ $t('simple.locationAnalytics') }}
                        li {{ $t('simple.locationThirdParty') }}

                br
                strong {{ $t('simple.yourRightsTitle') }}
                p(v-html="$t('simple.yourRightsText')")

                br
                strong {{ $t('simple.ccpaTitle') }}
                p(v-html="$t('simple.ccpaText')")

                div(v-if='isAIUsed')
                    br
                    strong {{ $t('simple.aiTitle') }}
                    p {{ $t('simple.aiText') }}
                    br

                p {{ $t('simple.marketingText') }}
                br
                p(v-html="$t('simple.piiText')")

                br
                strong {{ $t('simple.thirdPartyTitle') }}

                p {{ $t('simple.thirdPartyText') }}

                br
                strong {{ $t('simple.dataTransfersTitle') }}

                p {{ $t('simple.dataTransfersText') }}
                ul
                    li {{ $t('simple.dataTransfers.scc') }}
                    li {{ $t('simple.dataTransfers.adequacy') }}
                    li {{ $t('simple.dataTransfers.consent') }}

                p {{ $t('simple.dataTransfersNote') }}

                div(v-if='hasThirdPartyServicesSelected')
                    br
                    p {{ $t('simple.thirdPartyServicesText') }}
                    ul
                        li(v-for="item in enabledThirdPartyServicesWithPrivacy" :key="item.name")
                            a(:href='item.link.privacy' target='_blank' rel='noopener noreferrer') {{item.name}}
                br

                p {{ $t('simple.disclosureText') }}
                    ul
                        li {{ $t('simple.disclosure.law') }}
                        li {{ $t('simple.disclosure.safety') }}
                        li {{ $t('simple.disclosure.providers') }}
                br

                strong {{ $t('simple.optOutTitle') }}
                div(v-if='isMobileApp || isWindowsApp')
                    p(v-html="$t('simple.optOutUninstall')")
                div(v-if='isWebApp')
                    p(v-html="$t('simple.optOutCease')")
                p(v-html="$t('simple.optOutContact')")

                br
                strong {{ $t('simple.retentionTitle') }}
                p {{ $t('simple.retentionIntro') }}
                ul
                    li {{ $t('simple.retention.userData') }}
                    li {{ $t('simple.retention.autoData') }}
                    li {{ $t('simple.retention.aggregated') }}
                    li {{ $t('simple.retention.legal') }}

                p(v-html="$t('simple.retentionDeletion')")

                div(v-if='hasDataDeletion')
                    br
                    strong {{ $t('simple.dataDeletionTitle') }}
                    p(v-html="$t('simple.dataDeletionText')")
                    p {{ $t('simple.dataDeletionVerify') }}

                br
                strong {{ $t('simple.childrenTitle') }}
                p(v-html="$t('simple.childrenIntro')")
                div(v-if='hasThirdPartyServicesSelected')
                    br
                    p(v-html="$t('simple.childrenWithServices')")
                div(v-else)
                    br
                    p(v-html="$t('simple.childrenWithoutServices')")

                br
                strong {{ $t('simple.securityTitle') }}
                p {{ $t('simple.securityText') }}

                br
                strong {{ $t('simple.breachTitle') }}
                p {{ $t('simple.breachText') }}

                br
                strong {{ $t('simple.changesTitle') }}
                p {{ $t('simple.changesText') }}
                br
                p(v-html="$t('simple.changesPrev')")
                br
                p(v-html="$t('simple.effectiveDate')")

                br
                strong {{ $t('simple.consentTitle') }}
                p {{ $t('simple.consentText') }}

                br
                strong {{ $t('simple.contactTitle') }}
                p(v-html="$t('simple.contactText')")

                +attribution('privacy policy')
            textarea#privacy_simple_txtarea.textarea(:aria-label='$t("simple.title") + $t("modal.textareaLabel")' onclick='this.focus();this.select()' readonly='readonly' v-show='contentRenderType==2')
        footer.modal-card-foot
            +outputButtons('privacy_simple_content', 'privacy_simple_txtarea')
            +flycricketDeploy('deployFcSimple()')
