+modal('showPrivacyModal', 'modal.privacySimple.title', 'togglePrivacyModalVisibility', 'typeOfPolicyInt==1')
        section.modal-card-body.modal-box
            #privacy_simple_content(v-show='contentRenderType==1')
                strong {{ translate('simple.title') }}

                p(v-html="translate('simple.intro')")

                br
                strong {{ translate('simple.infoCollectionTitle') }}

                p {{ translate('simple.infoCollectionIntro') }}
                    ul 
                        li {{ translate('simple.infoCollection.ip') }}
                        li {{ translate('simple.infoCollection.pages') }}
                        li {{ translate('simple.infoCollection.time') }}
                        li(v-html="translate('simple.infoCollection.os')")

                br
                strong {{ translate('simple.cookiesTitle') }}

                p {{ translate('simple.cookiesText') }}

                div(v-if='isLocationTracked')
                    br
                    strong {{ translate('simple.locationTitle') }}
                    p {{ translate('simple.locationIntro') }}
                    ul
                        li {{ translate('simple.locationGeo') }}
                        li {{ translate('simple.locationAnalytics') }}
                        li {{ translate('simple.locationThirdParty') }}

                br
                strong {{ translate('simple.yourRightsTitle') }}
                p(v-html="translate('simple.yourRightsText')")

                br
                strong {{ translate('simple.ccpaTitle') }}
                p(v-html="translate('simple.ccpaText')")

                div(v-if='isAIUsed')
                    br
                    strong {{ translate('simple.aiTitle') }}
                    p {{ translate('simple.aiText') }}
                    br

                p {{ translate('simple.marketingText') }}
                br
                p(v-html="translate('simple.piiText')")

                br
                strong {{ translate('simple.thirdPartyTitle') }}

                p {{ translate('simple.thirdPartyText') }}

                br
                strong {{ translate('simple.dataTransfersTitle') }}

                p {{ translate('simple.dataTransfersText') }}
                ul
                    li {{ translate('simple.dataTransfers.scc') }}
                    li {{ translate('simple.dataTransfers.adequacy') }}
                    li {{ translate('simple.dataTransfers.consent') }}

                p {{ translate('simple.dataTransfersNote') }}

                div(v-if='hasThirdPartyServicesSelected')
                    br
                    p {{ translate('simple.thirdPartyServicesText') }}
                    ul
                        li(v-for="item in enabledThirdPartyServicesWithPrivacy" :key="item.name")
                            a(:href='item.link.privacy' target='_blank' rel='noopener noreferrer') {{ tpsName(item) }}
                br

                p {{ translate('simple.disclosureText') }}
                    ul
                        li {{ translate('simple.disclosure.law') }}
                        li {{ translate('simple.disclosure.safety') }}
                        li {{ translate('simple.disclosure.providers') }}
                br

                strong {{ translate('simple.optOutTitle') }}
                div(v-if='isMobileApp || isWindowsApp')
                    p(v-html="translate('simple.optOutUninstall')")
                div(v-if='isWebApp')
                    p(v-html="translate('simple.optOutCease')")
                p(v-html="translate('simple.optOutContact')")

                br
                strong {{ translate('simple.retentionTitle') }}
                p {{ translate('simple.retentionIntro') }}
                ul
                    li {{ translate('simple.retention.userData') }}
                    li {{ translate('simple.retention.autoData') }}
                    li {{ translate('simple.retention.aggregated') }}
                    li {{ translate('simple.retention.legal') }}

                p(v-html="translate('simple.retentionDeletion')")

                div(v-if='hasDataDeletion')
                    br
                    strong {{ translate('simple.dataDeletionTitle') }}
                    p(v-html="translate('simple.dataDeletionText')")
                    p {{ translate('simple.dataDeletionVerify') }}

                br
                strong {{ translate('simple.childrenTitle') }}
                p(v-html="translate('simple.childrenIntro')")
                div(v-if='hasThirdPartyServicesSelected')
                    br
                    p(v-html="translate('simple.childrenWithServices')")
                div(v-else)
                    br
                    p(v-html="translate('simple.childrenWithoutServices')")

                br
                strong {{ translate('simple.securityTitle') }}
                p {{ translate('simple.securityText') }}

                br
                strong {{ translate('simple.breachTitle') }}
                p {{ translate('simple.breachText') }}

                br
                strong {{ translate('simple.changesTitle') }}
                p {{ translate('simple.changesText') }}
                br
                p(v-html="translate('simple.changesPrev')")
                br
                p(v-html="translate('simple.effectiveDate')")

                br
                strong {{ translate('simple.consentTitle') }}
                p {{ translate('simple.consentText') }}

                br
                strong {{ translate('simple.contactTitle') }}
                p(v-html="translate('simple.contactText')")

                +attribution('privacy policy')
            textarea#privacy_simple_txtarea.textarea(:aria-label='translate("simple.title") + translate("modal.textareaLabel")' onclick='this.focus();this.select()' readonly='readonly' v-show='contentRenderType==2')
        footer.modal-card-foot
            +outputButtons('privacy_simple_content', 'privacy_simple_txtarea')
            +flycricketDeploy('deployFcSimple()')
