form#fc-form(action='https://app.flycricket.com/import/privacy' method='post' target='_blank')
    input(type='hidden' name='fc-referrer' value='nishant')
    input#fc-terms(type='hidden' name='fc-terms')
    input#fc-body(type='hidden' name='fc-privacy')
    input#fc-name(type='hidden' name='fc-name' v-model='appName')
