::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: #ebecef;
  border-radius: @border-radius;
}

::-webkit-scrollbar-thumb {
  background: @color-primary;
  border-radius: @border-radius;

  &:hover {
    background: @color-primary-hover;
  }
}
