+modal('showTermsModal', 'modal.terms.title', 'toggleTermsModalVisibility')
        section.modal-card-body.modal-box
            #tandc_content(v-show='contentRenderType==1')
                strong {{ translate('tnc.title') }}
                br 
                p(v-html="translate('tnc.intro')")
                br 
                p {{ translate('tnc.acceptance') }}

                br
                div(v-if='!isAppOpenSource()')
                    strong {{ translate('tnc.licenseTitle') }}
                    p(v-html="translate('tnc.licenseCommercial')")
                div(v-else)
                    strong {{ translate('tnc.licenseTitle') }}
                    p {{ translate('tnc.licenseOpenSource') }}

                br
                strong {{ translate('tnc.ipTitle') }}
                p {{ translate('tnc.ipText') }}
                br
                strong {{ translate('tnc.terminationTitle') }}
                p {{ translate('tnc.terminationBreach') }}
                br
                p {{ translate('tnc.terminationImmediate') }}
                br
                p {{ translate('tnc.terminationEffect') }}
                br
                p(v-html="translate('tnc.terminationAge')")
                div(v-if='!isAppOpenSource()')
                    br
                    p {{ translate('tnc.terminationNoDeriv') }}
                br
                strong {{ translate('tnc.ugcTitle') }}
                p {{ translate('tnc.ugcIntro') }}
                ul
                    li {{ translate('tnc.ugc.illegal') }}
                    li {{ translate('tnc.ugc.abusive') }}
                    li {{ translate('tnc.ugc.discrimination') }}
                    li {{ translate('tnc.ugc.spam') }}
                    li {{ translate('tnc.ugc.privacy') }}
                    li {{ translate('tnc.ugc.misleading') }}
                    li {{ translate('tnc.ugc.violence') }}
                br
                p {{ translate('tnc.ugc.rightsTitle') }}
                ul
                    li {{ translate('tnc.ugc.remove') }}
                    li {{ translate('tnc.ugc.suspend') }}
                    li {{ translate('tnc.ugc.lawEnforcement') }}
                    li {{ translate('tnc.ugc.moderate') }}
                br
                p {{ translate('tnc.ugc.visibility') }}
                br
                p(v-html="translate('tnc.ugc.report')")
                br
                p {{ translate('tnc.ugc.inApp') }}
                br
                p(v-html="translate('tnc.ugc.review')")
                br
                p {{ translate('tnc.ugc.license') }}
                br
                p {{ translate('tnc.ugc.personalData') }}
                br
                p {{ translate('tnc.ugc.modification') }}
                br
                p(v-html="translate('tnc.dataStorage')")
                div(v-if='isPhoneOs')
                    p(v-html="translate('tnc.jailbreak')")
                div(v-if='hasThirdPartyServicesSelected')
                    p {{ translate('tnc.thirdPartyTitle') }}
                    ul
                        li( v-for="item in enabledThirdPartyServicesWithTerms" :key="item.name")
                            a(:href='item.link.terms' target='_blank' rel='noopener noreferrer') {{ tpsName(item) }}
                br
                div(v-if='isMobileApp')
                    p {{ translate('tnc.mobileData') }}
                    br
                    p {{ translate('tnc.mobileCharges') }}
                div(v-if='isWebApp')
                    p {{ translate('tnc.webData') }}
                    br
                    p {{ translate('tnc.webCharges') }}
                br
                p {{ translate('tnc.battery') }}
                br
                p {{ translate('tnc.consumerRights') }}

                strong {{ translate('tnc.limitationTitle') }}
                p {{ translate('tnc.limitationText') }}
                br
                p {{ translate('tnc.limitationRetains') }}
                ul
                    li {{ translate('tnc.limitation.death') }}
                    li {{ translate('tnc.limitation.fraud') }}
                    li {{ translate('tnc.limitation.other') }}
                br
                p {{ translate('tnc.limitationCap') }}
                br
                p {{ translate('tnc.limitationThirdParty') }}
                br
                strong {{ translate('tnc.indemnificationTitle') }}
                p {{ translate('tnc.indemnificationText') }}
                br
                p {{ translate('tnc.indemnificationException') }}
                br
                div(v-if="isAIUsed")
                    p {{ translate('tnc.aiText') }}
                    br
                p {{ translate('tnc.updates') }}
                br
                strong {{ translate('tnc.governingLawTitle') }}
                br
                p {{ translate('tnc.governingLawText') }}
                br
                p {{ translate('tnc.governingLawDispute') }}
                br
                strong {{ translate('tnc.dsaTitle') }}
                br
                p {{ translate('tnc.dsaIntro') }}
                br
                p(v-html="translate('tnc.dsaPointOfContact')")
                br
                p(v-if='euRepresentative')
                    strong {{ translate('tnc.dsaEuRep') }}
                br
                p {{ translate('tnc.dsaModeration') }}
                br
                p {{ translate('tnc.dsaNotice') }}
                br
                p {{ translate('tnc.dsaDispute') }}
                br
                p(v-html="translate('tnc.dsaTransparency')")
                br
                p {{ translate('tnc.dsaNote') }}
                br
                strong {{ translate('tnc.severabilityTitle') }}
                p {{ translate('tnc.severabilityText') }}
                br
                strong {{ translate('tnc.entireAgreementTitle') }}
                p {{ translate('tnc.entireAgreementText') }}
                br
                strong {{ translate('tnc.changesTitle') }}
                p {{ translate('tnc.changesText') }}
                br
                p(v-html="translate('tnc.changesPrev')")
                br
                p(v-html="translate('tnc.effectiveDate')")
                br
                strong {{ translate('tnc.contactTitle') }}
                p(v-html="translate('tnc.contactText')")
                +attribution('Terms & Conditions')
            textarea#tandc_txtarea.textarea(:aria-label='translate("tnc.title") + translate("modal.textareaLabel")' onclick='this.focus();this.select()' readonly='readonly' v-show='contentRenderType==2')
        footer.modal-card-foot
            +outputButtons('tandc_content', 'tandc_txtarea')
            +flycricketDeploy('deployFcSimple()')
