doctype html
- var lang = 'en'
html(lang=lang, data-theme="light")
    - var flycricket = true
    - var noTracking = true
    - var gdpr = true

    //- Application code
    head
        include includes/head.pug
    body.bg-pattern
        main#app.container
            .locale-bar.has-text-centered(v-if='availableLocales && availableLocales.length > 1')
                .select.is-small
                    select#locale-select(v-model='currentLocale' @change='switchLocale(currentLocale)')
                        option(v-for='loc in availableLocales' :value='loc.code' :key='loc.code') {{ loc.label }}
            include includes/content.pug
        include includes/footer.pug
