doctype html
html(lang="en")
    head
        include includes/head.pug
    body.bg-pattern
        #app
            .container
                include includes/content.pug
        include includes/footer.pug
        