doctype html
html(lang="en")
    //- Enable/Disable Affliates
    - var flycricket = true

    //- Application code
    head
        include includes/head.pug
    body.bg-pattern
        #app
            .container
                include includes/content.pug
        include includes/footer.pug