doctype html
- var lang = 'en'
html(lang=lang, data-theme="light")
    - var flycricket = true
    - var noTracking = true
    - var gdpr = true

    //- Application code
    head
        include includes/head.pug
    body.bg-pattern
        main#app.container.mt-6
            include includes/content.pug
        .locale-bar.container.has-text-centered(v-if='availableLocales.length > 1')
            label.locale-label(for="locale-select")
            select#locale-select(v-model='currentLocale' @change='switchLocale(currentLocale)')
                option(v-for='loc in availableLocales' :value='loc.code' :key='loc.code') {{ loc.label }}
        include includes/footer.pug
