#fc-container.box
    #fc-container-text
        .fc-title Free privacy policy hosting + website for {{ appName }}.
    #fc-callouts
        form#fc-form(action='https://app.flycricket.com/import/privacy' method='post' target='_blank' onsubmit='return fc_submit(event)')
            input(type='hidden' name='fc-referrer' value='nishant')
            input#fc-terms(type='hidden' name='fc-terms')
            input#fc-body(type='hidden' name='fc-privacy')
            input#fc-name(type='hidden' name='fc-name' v-model='appName')
        div(style='margin-top: 1em;')
            button.button.is-black.is-small(@click="fc_deploy()")
                | Deploy
        .fc-powered-by(style='margin-top:0.25em;')
            | Powered by 
            a(href='https://app.flycricket.com/r/nishant?utm_source=partner&utm_medium=website&utm_campaign=privacy_generator' target='_blank' rel='noopener noreferrer') Flycricket
