section#step-5.columns(v-if="wizardStep==5")
    .column.card
        .card-content
            +wizardMobileLogo
            +wizardProgress(56)
            .scrollable.content
                .control
                    | Select Platform(s):
                    span.tag.is-primary.is-light {{selectedPlatformsLabel}}
                    br
                    input(v-model="platforms.Android" id="platform-android" type="checkbox")
                    label(for="platform-android")  Android
                    br
                    input(v-model="platforms.iOS" id="platform-ios" type="checkbox")
                    label(for="platform-ios")  iOS
                    br
                    input(v-model="platforms.KaiOS" id="platform-kaios" type="checkbox")
                    label(for="platform-kaios")  KaiOS
                    br
                    input(v-model="platforms.Windows" id="platform-windows" type="checkbox")
                    label(for="platform-windows")  Windows (UWP)
                    br
                    input(v-model="platforms.Web" id="platform-web" type="checkbox")
                    label(for="platform-web")  Web App
        footer.card-footer
            a.card-footer-item(@click='prevStep') Previous
            a.card-footer-item(@click='nextStep') Next
    +wizardSidebar
