section#step-7.columns(v-if="wizardStep==7")
    .column.card
        .card-content
            +wizardMobileLogo
            +wizardProgress(84)
            div(v-show='typeOfPolicyInt!=2')
                p
                    b {{ translate('wizard.step7.includeLinks') }}
                    span.tag.is-primary.is-light {{ translate('wizard.step7.scrollForMore') }}
                .scrollable-thirdparty.content
                    a(rel="noopener noreferrer" v-for="item in thirdPartyServicesWithPrivacyOrTerms" :key="item.name")
                        input(
                            v-model="item.enabled"
                            :id="'list-switch-' + item.name"
                            type="checkbox"
                            )
                        label(:for="'list-switch-' + item.name")
                            img.checkbox-logo(
                                :alt="tpsName(item)" 
                                :src="item.logo"
                                )
                            span {{ tpsName(item) }}
            div(v-show='typeOfPolicyInt==2')
                p {{ translate('wizard.step7.noServices') }} 
                    b {{ translate('wizard.step7.nextStep') }}
                div.scrollable-thirdparty.content
        footer.card-footer
            a.card-footer-item(@click='prevStep') {{ translate('wizard.step7.previous') }}
            a.card-footer-item(@click='nextStep') {{ translate('wizard.step7.next') }}
    +wizardSidebar