.columns
  .column.is-6.is-information
    img.center-block.sidebar-img(src='images/app_graphics/step_3.svg')
    img.center-block.nav-btn(src='images/app_icons/prev.png' @click='prevStep()')
  .column
    .box
      ol While App Privacy Policy Generator is completely <b>FREE</b>, it takes money to keep it running and updated.
        p If you are able to, then consider contributing by:
          li
            a(href='https://github.com/sponsors/nisrulz' target='_blank' rel='noopener noreferrer') Sponsoring me on Github &#x1F468;&#x1F3FB;&zwj;&#x1F4BB;
          li
            a(href='https://ko-fi.com/nisrulz' target='_blank' rel='noopener noreferrer') Buying me a cup of &#x2615;
      p If you are unable to contribute with funds, consider sharing it with your friends: 
          a(href='https://twitter.com/intent/tweet?text=%F0%9F%93%9D%20App%20Privacy%20Policy%20Generator%3A%20A%20free%20web-app%20to%20generate%20a%20generic%20privacy%20policy%20for%20your%20Android%2FiOS%2FKaiOS%20%F0%9F%93%B1%20apps%20%F0%9F%9A%80%20%7C%20Built%20by%20%40nisrulz%20%20%E2%9C%85%20Web%20App%3A%20https%3A%2F%2Fapp-privacy-policy-generator.nisrulz.com%20%E2%9C%85%20Checkout%20Reviews%3A%20https%3A%2F%2Fgithub.com%2Fnisrulz%2Fapp-privacy-policy-generator%2Fissues%2F65%20%F0%9F%91%A8%F0%9F%8F%BB%E2%80%8D%F0%9F%92%BB%20%23appg%20%23free%20%23app%20%23privacy%20%23policy%20%23generator%20%20' target='_blank' rel='noopener noreferrer') Twitter, 
          a(href='https://www.linkedin.com/shareArticle?mini=true&url=https://app-privacy-policy-generator.nisrulz.com/' target='_blank' rel='noopener noreferrer') Linkedin, 
          a(href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fapp-privacy-policy-generator.nisrulz.com%2F' target='_blank' rel='noopener noreferrer') Facebook, 
          a(href='https://reddit.com/submit?url=https://app-privacy-policy-generator.nisrulz.com/&title=%F0%9F%93%9D%20App%20Privacy%20Policy%20Generator' target='_blank' rel='noopener noreferrer') Reddit
      p ...or adding a review/comment in the project&apos;s 
          a(href='https://github.com/nisrulz/app-privacy-policy-generator/issues/65' target='_blank' rel='noopener noreferrer') GuestBook &#x1F917;
    .box.final-box
      b All Done!
      br
      p Now sit back and choose the type of document you want to generate: 
      br
      a.button.is-primary(@click='togglePrivacyModalVisibility' rel='noopener noreferrer') Privacy Policy
      //- a.button.is-primary(@click='toggleGDPRPrivacyModalVisibility' rel='noopener noreferrer') GDPR compliant Privacy Policy
      a.button.is-info(@click='toggleTermsModalVisibility' rel='noopener noreferrer') Terms &amp; Conditions
      br
      br
      p.has-text-grey-light
        | The accuracy of the generated privacy policy and terms &amp; conditions on this website is not legally binding. Use at your own risk.
      p
        a.has-text-danger(@click='toggleDisclaimerModalVisibility' rel='noopener noreferrer') Read the full Disclaimer here

    //- Flycricket
    if (flycricket)
      include affliate/flycricket.pug
