section#step-1.columns.has-text-centered(v-if='wizardStep==1')
  .column.is-full
    a.title(href='https://github.com/nisrulz/app-privacy-policy-generator' target='_blank' rel='noopener noreferrer' :aria-label='translate("meta.title")')
      img.center-block.hero-image(src='/images/side_image/side_image.png' :data-theme-logo='true' :alt='translate("wizard.step1.heroAlt")' width='2024' height='1132' fetchpriority='high')
    p.is-size-8.mt-2
      | {{ translate('wizard.step1.tagline') }}
    p.mt-2
      a(href='/reviews.html' target='_blank' rel='noopener noreferrer')
        | {{ translate('wizard.step1.guestbook') }}
      |  / 
      a.has-info(href="#" @click.prevent='toggleFaqModalVisibility')
        | {{ translate('wizard.step1.readFaq') }}
      |  / 
      a(href="#" @click.prevent='toggleDisclaimerModalVisibility')
        | {{ translate('wizard.step1.disclaimer') }}
      |  / 
      a(href='https://github.com/nisrulz/app-privacy-policy-generator' target='_blank' rel='noopener noreferrer')
        | GitHub
      |  / 
      a(href='https://ko-fi.com/nisrulz' target='_blank' rel='noopener noreferrer')
        | {{ translate('wizard.step1.buyMeCoffee') }}
      |  / 
      select.locale-dropdown(@change='switchLocale($event.target.value)' :aria-label='translate("misc.locale")')
        option(v-for='loc in availableLocales' :key='loc.code' :value='loc.code' :selected='loc.code === currentLocale')
          | {{ loc.flag }} {{ loc.code.toUpperCase() }}
      if themeToggle
        |  / 
        button.theme-toggle(@click='toggleTheme($event)') 🌙
    hr
    button.button.is-primary.start-btn(@click='nextStep') {{ translate('wizard.step1.start') }}
